---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Expirience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
---

<Layout
  title="Porfolio: Daniel Alvarado Peláez - Ingeniero Mecatrónico, Desarrollador y Programador"
  description="Graduado de la carrera Mecatrónica en la universidad ESPOL, en Ecuador."
>
  <main class="px-4">
    <SectionContainer class="py-20 pb-10">
      <img
        class="rounded-md size-20 mb-4"
        src="/img/logo_rimuru.png"
        alt="Logo of rimuru"
      />
      <h1
        class="text-3xl md:text-4xl lg:text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4 lg:pb-8"
      >
        Ing. Daniel Alvarado
        <a
          href="https://www.linkedin.com/in/daniel-alvarado-peláez/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible - remoto</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[900px]">
        <span
          >Graduado de la carrera Mecatrónica en la universidad ESPOL, en
          Ecuador.
        </span><br />
        Ingeniero Mecatrónico con habilidades y experiencia relacionadas al
        <span class="text-green-200/90 font-bold">
          diseño 3D, programación web y aplicaciones, análisis y ciencia de
          datos, y desarrollo de sistemas embebidos.
        </span>
        Capaz de trabajo y aprendizaje autónomo, predispuesto a trabajar en equipos
        multidisciplinarios para compartir, mejorar o aprender conocimientos varios.
      </h2>
      <nav class="flex gap-4 mt-8 text-wrap">
        <SocialPill href="https://www.linkedin.com/in/daniel-alvarado-peláez/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/daap213">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:daap21.3@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          Correo
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-10 flex gap-x-2 items-center">
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Expirience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2 class="text-2xl font-semibold mb-10 flex gap-x-2 items-center">
        <CodeIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
