---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout
  title="Porfolio de Daniel Alvarado Peláez - Ingeniero Mecatrónico, Desarrollador y Programador"
>
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1 class="text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4">
        Ing. Daniel Alvarado Peláez
        <div class="flex justify-center items-center">
          <Badge>Disponible</Badge>
        </div>
      </h1>
      <h2 class="text-1xl">
        Graduado de la carrera Mecatrónica en la universidad ESPOL, en Ecuador. <br
        />
        Ingeniero Mecatrónico con habilidades y experiencia para diseño 3D, programación
        web y aplicaciones, análisis y ciencia de datos, y desarrollo de sistemas
        embebidos. Capaz de trabajo y aprendizaje autónomo, predispuesto a trabajar
        en equipos multidisciplinarios para compartir, mejorar o aprender conocimientos
        varios.
      </h2>
      <ul></ul>
    </section>
  </main>
</Layout>
