---
import LinkInline from "@/components/otros/LinkInline.astro";
import TimeHist from "@/components/otros/TimeHistItem.astro";
import DropdownText from "@/components/otros/DropdownText.astro";
interface Props {
  infoSeccion: any;
}
const { infoSeccion } = Astro.props;
---

<DropdownText titulo={infoSeccion.title + ":"}>
  <ol class="relative pt-3">
    {
      infoSeccion.items.map((certificado: any) => (
        <li class="">
          <TimeHist title={certificado.title} extraclass="md:col-span-3">
            <time class="p-0 m-0 md:col-span-2 text-right text-sm text-gray-600/80 dark:text-white/80">
              {certificado.date}
            </time>
          </TimeHist>
        </li>
      ))
    }
  </ol>
</DropdownText>
<LinkInline href={infoSeccion.link}>
  {infoSeccion.titleLink}{" "}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-5 icon icon-tabler icon-tabler-chevron-right"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <>
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M9 6l6 6l-6 6"></path>
    </>
  </svg>
</LinkInline>
