---
import LinkInline from "./LinkInline.astro";
import TimeHist from "./TimeHistItem.astro";
import DropdownText from "@/components/DropdownText.astro";
import { certificados } from "@cv";
---

<DropdownText titulo="Cursos realizados:">
  <ol class="relative pt-3">
    {
      certificados.items.map((certificado) => (
        <li class="">
          <TimeHist title={certificado.title}>
            <time class="p-0 m-0 md:col-span-3 text-right text-sm text-gray-600/80 dark:text-white/80">
              {certificado.date}
            </time>
          </TimeHist>
        </li>
      ))
    }
  </ol>
</DropdownText>
<LinkInline href={certificados.link}>
  Drive con certificados{" "}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-5 icon icon-tabler icon-tabler-chevron-right"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <>
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M9 6l6 6l-6 6"></path>
    </>
  </svg>
</LinkInline>
