---
import ExperienceItem from "./TimeHistItem.astro";
import { gradosCompletados } from "@cv";
---

<ol class="relative mt-16">
  {
    gradosCompletados.map((grados) => (
      <li class="">
        <ExperienceItem title={grados.title} company={grados.institution}>
          <time class="p-0 m-0 md:col-span-3 text-right text-sm text-gray-600/80 dark:text-white/80">
            {grados.date}
          </time>
        </ExperienceItem>
      </li>
    ))
  }
</ol>
