---
import ExperienceItem from "./ExperienceItem.astro";
import { experiencias } from "@cv";
---

<ol class="relative mt-16">
  {
    experiencias.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
