<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
  <img
    class="rounded-md w-12 h-12"
    src="/img/logo_rimuru.png"
    alt="daap photo"
  />
  <nav class="flex flex-row gap-x-10 opacity-85">
    <a href="/">Home</a>
    <a href="/About">About</a>
    <a href="/projects">Proyectos</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
