---
import { publicaciones } from "@cv";
---

<div class="flex flex-wrap gap-4">
  {
    publicaciones.map(({ title, authors, description, link, codigo }) => (
      <div class="block text-balance max-w-sm p-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h7 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
          {title}
        </h7>
        <p class="mb-2 mt-2 font-normal text-base text-sky-800 dark:text-sky-400">
          <a href={link} target="_blank">
            {codigo}
          </a>
        </p>

        <h7 class="mb-2 text-base font-bold tracking-tight text-gray-900 dark:text-white">
          Autores:
        </h7>
        <p class="font-normal  text-base text-gray-700 dark:text-gray-200">
          {authors}
        </p>
      </div>
    ))
  }
</div>
