---
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  role="link"
  class="inline-flex items-center text-lg font-medium text-sky-500 dark:text-sky-200 dark:hover:text-sky-300 hover:text-sky-700"
>
  <slot />
</a>
